/*
 * stylesheet for who output
 */

/*  ##### body style ##### */

body {
	background-color: green;
	color: black;
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	margin: auto;
	text-align: center;
}

.whotable {
	background-color:white;
	font-style: italic;
	padding: 1em;
	border: 2px solid blue;
	margin: auto;
}

td.user {
	font-weight: bold;
	padding: 1em;
	border: 1px solid blue;
	background-color: cyan;
}

td.tty {
	color: green;
	padding-top: 3px;
	padding-left: 20px;
	border: 1px solid red;
	background-color: pink;
}

td.date {
	margin: 1px;
	padding: 1em;
	border: 1px solid #444444;
	background-color: #DDDDDD;
}
